

body {
    width: 100%;
    height: 100%;
}


.bg-brand{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(/images/coffee_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    opacity: 0.8;
    margin-top: -1.5rem;
  }

  .in-front{
      z-index: 9999;
      padding-top: 1em;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.table {
    color: #ffffff;
}

.card-img-top {
    width: 4rem;
    height: 4rem;
    margin: auto;
    margin-top: 0.5rem;
    border-radius: 50%;
}