.form-control{
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;  
    background-color: rgba(0, 0, 0, 0);
}   
   /* cursor: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 18px; line-height: inherit; font-family: inherit; opacity: 1; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 100%; box-sizing: border-box; margin-top: 14px; */