.nav-right .nav-item{
    display: flex;
    align-items: center;
}

.form-control{
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;  
    background-color: rgba(0, 0, 0, 0);
} 
.navbar{
    background-color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: #9d9d9d;
}

.card-img-top {
    width: 4rem;
    height: 4rem;
    margin: auto;
    margin-top: 0.5rem;
    border-radius: 50%;
}

.silverStone {
    background: #989898;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), -webkit-radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%);
    background: linear-gradient(to bottom, rgba(70, 68, 68, 0.22) 0%, rgba(43, 38, 38, 0.15) 100%), radial-gradient(at top center, rgba(62, 60, 60, 0.4) 0%, rgb(32, 32, 33) 120%);
    background-blend-mode: multiply,multiply; }
 
.card{
    background: rgba(29, 29, 29, 0.8);
    box-shadow: 0 0 125px rgba(0, 0, 0, 0.25);
    padding: 1em;
    color: #fff;
}

.brand-wrapper{
    height: 100vh;
    overflow-y: scroll;
    margin: -1.5rem 0;
    padding: 1.5rem 0;
}

.list-group-item{
    background-color: unset;
}

.correct{
    background-color: darkgreen;
}
.incorrect{
    background-color: darkred;
}